<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
      }
    </style>
  </head>&nbsp;
<body>
    <
<div><a href="https://generalassembly.com/"><img src="https://i.ibb.co/KFJhSV3/pokedex.png" alt="pokedex" border="0"></a>
<h1>Pokedex, Gotta Catch 'Em All</h1>

</div>
<th><h1>Pokedex: Your Pokémon</h1></th>
<tr><h1>Your Pokemon's Name</h1></tr>
<h3><%= pokemon.name %></h3>
<h2>Pokemon's Image</h2>
<h3><%= pokemon.img %></h3>
<img src=<%=pokemon.img %> > 
<h2>Pokemon's Type</h2>
<h3><%= pokemon.type %></a></h3>
<h2>Pokemon's Stats</h2>
<h3><%= pokemon.stats.hp %></h3>
</div>
          
            </li>
       <button> <a href="/">Main Page</a></button>
       <button> <a href="/pokemon/edit">EDIT THIS POKEMON</a></button>
       <button> <a href="/pokemon/new">CREATE NEW POKEMON</a></button>
       <button> <a href="/pokemon">DELETE POKEMON</a></button>
    </ul>
</body>
<footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wesner Michel</a>
</footer>
</html>